@using DashboardFinnhub.Models
@model IEnumerable<Stock>

<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-header">
                    Tabela de Cotações
                </div>
                <div class="card-body">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr class="text-nowrap">
                                <th>Símbolo</th>
                                <th>Preço</th>
                                <th>Alta do Dia</th>
                                <th>Baixa do Dia</th>
                                <th>Abertura</th>
                                <th>Fechamento Anterior</th>
                                <th>País</th>
                                <th>Site URL</th>
                                <th>Plataforma</th>
                                <th>Indústria</th>
                                <th>Moeda Estimada</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var stock in Model)
                            {
                                @await Component.InvokeAsync("TableStockFinnhub", stock)
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
