<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script defer src="~/bootstrap/js/bootstrap.min.js"></script>
    <script defer src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">Dashboard - With Finnhub</a>
            </div>
        </nav>
    </header>
    <div class="container-sm w-25 flex-column">
        <form id="form" class="form-inline justify-content-center">
            <label for="search" class="mb-3">Visite <a href="https://stockanalysis.com/stocks/">https://stockanalysis.com/stocks/</a> para saber mais!</label>
            <input class="form-control form-control-sm mr-sm-2 mb-3" id="search" type="search" required placeholder="Digite simbolos aqui" aria-label="Pesquisar">
            <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </div>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
<script>
    document.getElementById('form').addEventListener('submit', function(event){
        event.preventDefault();
        var query = document.getElementById('search').value;
        window.location.href = '/?symbol=' + encodeURIComponent(query);
    })
</script>